<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase / 

	RewriteRule ^about_us/contact_us/([a-z/_+]+)\.aspx$ contact [R=301,L]
	RewriteRule ^about_us/sitemap.aspx$ home/sitemap [R=301,L]
	RewriteRule ^default.aspx?pid=203$ about_us [R=301,L]
	RewriteRule ^about_us/001_principal_introduction.aspx$ about_us [R=301,L]
	RewriteRule ^about_us/alumni/([a-z/_+]+)\.aspx$ home [R=301,L]
	RewriteRule ^_documents/([a-z/_+]+)\.doc$ home [R=301,L]
	RewriteRule ^about_us/corporate_documents/([a-z/_+]+)\.aspx$ about_us/key_documents [R=301,L]
	RewriteRule ^about_us/employers/about_employers.aspx$ employers/employers_training_solutions [R=301,L]
	RewriteRule ^about_us/employers/faq_employers.aspx$ employers/faqs [R=301,L]
	RewriteRule ^about_us/employers/([a-z/_+]+)\.aspx$ employers [R=301,L]
	RewriteRule ^about_us/events/([a-z/_+]+)\.aspx$ news_events/event_calendar [R=301,L]
	RewriteRule ^about_us/faq/how_do_i_apply.aspx$ courses/how_to_apply [R=301,L]
	RewriteRule ^about_us/faq/qualifications_explained.aspx$ courses/course_levels_and_qualifications [R=301,L]
	RewriteRule ^about_us/faq/([a-z/_+]+)\.aspx$ courses/faqs [R=301,L]
	RewriteRule ^about_us/governors/([a-z0-9/_+.]+)\.aspx$ about_us/governors [R=301,L]
	RewriteRule ^about_us/news/default.aspx$ news_events [R=301,L]
	RewriteRule ^about_us/news/archive.aspx$ news_events/news_archive [R=301,L]
	RewriteRule ^about_us/news/index.aspx$ news_events/news_archive [R=301,L]
	RewriteRule ^about_us/partnerships/([a-z0-9/_+.]+)\.aspx$ about_us/partnerships [R=301,L]
	RewriteRule ^about_us/staff_vacancies/equal_opportunities_policies.aspx$ staff/equality_and_diversity [R=301,L]
	RewriteRule ^about_us/staff_vacancies/guidance_notes.aspx$ staff/guidance_notes [R=301,L]
	RewriteRule ^about_us/staff_vacancies/([a-z0-9/_+.]+)\.aspx$ staff/vacancies [R=301,L]
	RewriteRule ^courses/001_course_search.aspx$ courses/course_search [R=301,L]
	RewriteRule ^courses/courses/applying_for_a_course.aspx$ courses/how_to_apply [R=301,L]
	RewriteRule ^courses/([a-z0-9/_+.]+)\.aspx$ courses [R=301,L]
	RewriteRule ^courses/([a-z0-9/_+.]+)\.aspx$ courses [R=301,L]
	RewriteRule ^facilities/clc.aspx$ learners/service_and_support/centenary_learning_centre_library_services [R=301,L]
	RewriteRule ^facilities/enrichment/default.aspx$ why_conel/enrichment_programme [R=301,L]
	RewriteRule ^facilities/enrichment/enrichment_programme_form.aspx$ why_conel/enrichment_programme [R=301,L]
	RewriteRule ^facilities/nursery.aspx$ learners/service_and_support/childcare_for_learners [R=301,L]
	RewriteRule ^facilities/([a-z0-9/_+.]+)\.aspx$ why_conel/facilities [R=301,L]
	RewriteRule ^finances/([a-z0-9/_+.]+)\.aspx$ learners/service_and_support/financial_support [R=301,L]
	RewriteRule ^student_services/counselling_services.aspx$ learners/service_and_support/counselling_and_mental_health [R=301,L]
	RewriteRule ^student_services/funding_support.aspx$ learners/service_and_support/financial_support [R=301,L]
	RewriteRule ^student_services/learning_mentor_centre.aspx$ why_conel/mentoring_service [R=301,L]
	RewriteRule ^student_services/mental_health_support.aspx$ learners/service_and_support/counselling_and_mental_health [R=301,L]
	RewriteRule ^student_services/welfare_services.aspx$ learners/service_and_support/welfare_advice [R=301,L]
	RewriteRule ^student_services/([a-z0-9/_+.]+)\.aspx$ learners/service_and_support [R=301,L]
	RewriteRule ^opendays$ /for_learners/open_days [R=301,L]
	RewriteRule ^2010$ /our_courses/courses_starting_early_2010 [R=301,L]
	RewriteRule ^excellence$ /for_learners/college_excellence_awards [R=301,L]
	RewriteRule ^employers$ /for_employers [R=301,L]
	RewriteRule ^princestrust$ /news_events/news/2010/april_2010/increase_your_employability_with_the_prince_s_trust_team_programme [R=301,L]
	RewriteRule ^football$ http://www.conel.ac.uk/for_learners/football_academy [R=301,L]
	RewriteRule ^news_events/news/2010/may_2010$  [R=301,L]
	RewriteRule ^salon$ /our_college/hair_and_beauty_salons [R=301,L]
	RewriteRule ^tasters$ http://www.conel.ac.uk/our_courses/taster_days [R=301,L]
	RewriteRule ^stewarding$ /our_courses/event_stewarding [R=301,L]
	RewriteRule ^our_courses/fees_and_financial_support$ /for_learners/financial_support/fees_and_financial_support [R=301,L]
	RewriteRule ^apply_now$ /course-application [R=301,L]
	RewriteRule ^learnercharter$ /docs/learner_charter_2010_final_0.pdf [R=301,L]
	RewriteRule ^equality_and_diversity$ /our_college/work_for_us/equality_and_diversity [R=301,L]
	RewriteRule ^parentsguide$ /for_learners/parents_guide [R=301,L]
	RewriteRule ^home/home_employer$ /for_employers [R=301,L]
	RewriteRule ^home/home_learners$ /for_learners [R=301,L]
	RewriteRule ^springstarts$ /our_courses/new_year_new_starts_2011 [R=301,L]
	RewriteRule ^opendays1$ /news_events/events_calendar/january_2011/open_days [R=301,L]
	RewriteRule ^newstart$ /our_courses/new_year_new_starts_2011 [R=301,L]
	RewriteRule ^news_events/news/2010/december_2010/season_s_greetings_from_the_college_of_haringey_enfield_and_north_east_london$ /seasons_greetings_2010 [R=301,L]
	RewriteRule ^openday$ /opendays [R=301,L]
	RewriteRule ^excellenceawards$ /for_learners/college_excellence_awards/college_excellence_awards_2010 [R=301,L]
	RewriteRule ^safeguarding$ /for_learners/safeguarding [R=301,L]
	RewriteRule ^stylezone$ http://www.conel.ac.uk/our_college/hair_and_beauty_salons/stylezone_enfield_and_tottenham_centres [R=301,L]
	RewriteRule ^apprenticeships$ /our_courses/subjects/apprenticeships [R=301,L]
	RewriteRule ^science_tasters$ http://www.conel.ac.uk/news_events/events_calendar/march_2011/science_taster_sessions [R=301,L]
	RewriteRule ^higher$ http://www.conel.ac.uk/our_courses/higher_education [R=301,L]
	RewriteRule ^recruit$ http://system.newzapp.co.uk/GPage.asp?LID=OSwxNjk1NzI3Mjg [R=301,L]
	RewriteRule ^higher_download$ http://www.conel.ac.uk/docs/he_leaflet_lo_res_0.pdf [R=301,L]
	RewriteRule ^kickstart$ /our_courses/kickstart_your_career [R=301,L]
	RewriteRule ^our_courses/apply_now$ /course-application/three-easy-steps.php [R=301,L]
	RewriteRule ^library$ http://www.conel.ac.uk/for_learners/study_support/library_services [R=301,L]
	RewriteRule ^fees$ /our_courses/fees_and_financial_support [R=301,L]
	RewriteRule ^fees1$ /our_courses/fees_and_financial_support [R=301,L]
	RewriteRule ^arts_competition$ http://www.conel.ac.uk/for_schools/schools_art_competition [R=301,L]
	RewriteRule ^college-application$ /course-application/three-easy-steps.php [R=301,L]
	RewriteRule ^college_application$ /course-application/three-easy-steps.php [R=301,L]
	RewriteRule ^collegelife$ http://www.conel.ac.uk/our_college/college_newsletter [R=301,L]
	RewriteRule ^our_college/free$ http://www.conel.ac.uk/our_courses/free_courses  [R=301,L]
	RewriteRule ^free$ http://www.conel.ac.uk/our_courses/free_courses  [R=301,L]
	RewriteRule ^enrolment_2011$ http://www.conel.ac.uk/our_courses/enrolment_2011/ [R=301,L]
	RewriteRule ^foremployers$ /for_employers [R=301,L]
	RewriteRule ^newstarts$ /our_courses/freshstarts [R=301,L]
	RewriteRule ^freshstarts$ /our_courses/freshstarts [R=301,L]
	RewriteRule ^cityyear$ /our_college/cityyear [R=301,L]
	RewriteRule ^developments$ /our_college/developments [R=301,L]
	RewriteRule ^development$ http://www.conel.ac.uk/our_college/developments [R=301,L]
	RewriteRule ^news_events/news/2011/december_2011/seasons_greetings_2011$ http://www.conel.ac.uk/seasons_greetings_2011 [R=301,L]
	RewriteRule ^aat$ http://www.conel.ac.uk/our_courses/aat [R=301,L]
	RewriteRule ^AAT$ http://www.conel.ac.uk/our_courses/aat [R=301,L]
	RewriteRule ^arkacademyenfield$ /our_college/arkacademyenfield [R=301,L]
	RewriteRule ^prescience$ /our_courses/pre_apprenticeships_science [R=301,L]
	RewriteRule ^preconstruction$ /our_courses/pre_apprenticeships_construction [R=301,L]
	RewriteRule ^prehairdressing$ /our_courses/pre_apprenticeships_hairdressing_and_beauty_therapy [R=301,L]
	RewriteRule ^constructionenfield$ /our_courses/careers_and_courses_in_construction/construction_enfield [R=301,L]
	RewriteRule ^shows$ /our_college/end_of_year_shows [R=301,L]
	RewriteRule ^preaat$ /our_courses/aat_level_2_pre_apprenticeship [R=301,L]
	RewriteRule ^newcourses$ /our_courses/new_courses [R=301,L]
	RewriteRule ^prebusiness$ /our_courses/pre_apprenticeships_business_administration [R=301,L]
	RewriteRule ^preit$ /our_courses/pre_apprenticeships_it [R=301,L]
	RewriteRule ^mentors$ /our_college/volunteer_mentors  [R=301,L]
	RewriteRule ^sports_sponsorship$ /for_learners/sponsored_athlete_programme  [R=301,L]
	RewriteRule ^salons$ our_college/hair_and_beauty_salons/stylezone_enfield_and_tottenham_centres [R=301,L]
	RewriteRule ^preapprenticeships$ /our_courses/pre_apprenticeships [R=301,L]

	RewriteRule ^dynamic(.*)$ dynamic.php?url=$1 [QSA,L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

</IfModule>