body
{
	font-family: Verdana,Arial,Geneva,Helvetica,sans-serif;
	font-size: 14px;
	color: black;
}

td
{
	font-family: Verdana,Arial,Geneva,Helvetica,sans-serif;
	font-size: 10px;
	color: black;
}

a
{
	font-family: Verdana,Arial,Geneva,Helvetica,sans-serif;
	font-size: 10px;
	color: black;
	text-decoration: none;
}

a:HOVER
{
	color: black;
	background: #888888;
}

input
{
	font-family: Verdana,Arial,Geneva,Helvetica,sans-serif;
	font-size: 10px;
	color: black;
}

select
{
	font-family: Verdana,Arial,Geneva,Helvetica,sans-serif;
	font-size: 10px;
	color: black;
}

textarea
{
	font-family: Verdana,Arial,Geneva,Helvetica,sans-serif;
	font-size: 10px;
	color: black;
}

.login
{
	font-family: Verdana,Arial,Geneva,Helvetica,sans-serif;
	font-size: 9px;
	color: black;
}

.default
{
	font-family: Verdana,Arial,Geneva,Helvetica,sans-serif;
	font-size: 10px;
	color: black;
}

.active
{
	font-family: Verdana,Arial,Geneva,Helvetica,sans-serif;
	font-size: 10px;
	color: black;
}

.ghost
{
	font-family: Verdana,Arial,Geneva,Helvetica,sans-serif;
	font-size: 10px;
	color: #666666;
}

.inactive
{
	font-family: Verdana,Arial,Geneva,Helvetica,sans-serif;
	font-size: 10px;
	color: #FF6C00;
}

.headline
{
	font-family: Verdana,Arial,Geneva,Helvetica,sans-serif;
	font-size: 13px;
	color: black;
}

#content
{
	position: absolute;
	left: 21;
	top: 27;
}
label {
	cursor:pointer;
}